<div class="game-box">
  <div class="btn" *ngIf="run_btn">
    <button (click)="run_game()" cButton color="primary">Start</button>
  </div>

  <div class="container dpf" *ngIf="run">
    <div class="btn"><button cButton color="primary" (click)="reset()">Reset</button></div>
    <div class="random-number dpf" *ngIf="!winner; else noWinner">
      <h1>The Number : {{ number }}</h1>
      <!-- <h1>The Number : ***</h1> -->
    </div>

    <ng-template #noWinner>
      <div class="random-number dpf">
        <h1>The Number : {{ number }}</h1>
      </div>
    </ng-template>

    <div class="chat-box">
      <h4>Please Select Number Between {{ this.min_number }} - {{ this.max_number }}</h4>
      <p>player : {{player}}</p>
      <p>ai : {{ai}}</p>
      <p>winner : {{winner_text}}</p>
    </div>

    <div class="inp dpf" *ngIf="!winner">
      <form cForm>
        <div class="inp-form">
          <input
            [(ngModel)]="player"
            [ngModelOptions]="{ standalone: true }"
            cFormControl
            id="exampleFormControlInput1"
            placeholder="Your Number"
            type="number"
          />
        </div>
      </form>
      <button cButton color="primary" (click)="game_start()">Submit</button>
    </div>
  </div>
</div>
