<div class="container">
  <h1>Room {{ room_id }}</h1>
  <div class="card">
    <div *ngFor="let msg of chat; let i = index" class="msg">
      <p class="p1">{{ msg.username }} : {{ msg.chat_msg }}</p>

      <p class="p2">{{ convertTime(msg.create_date) }}</p>
    </div>
  </div>

  <div class="form">
    <input
      [(ngModel)]="user"
      class="user"
      aria-label="default input example"
      cFormControl
      placeholder="Username"
      type="text"
    />
    <input
      [(ngModel)]="msg"
      class="msg"
      aria-label="default input example"
      cFormControl
      placeholder="Mesages"
      type="text"
    />
  </div>

  <div class="btn">
    <button (click)="send()" class="btn-s" cButton color="info">Send</button>
    <button (click)="back()" class="btn-b" cButton color="danger">Back</button>
  </div>
</div>
